#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.stage {
  border: 1px solid black;
  border-radius: 5px;
}

.resetButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.container {
  position: relative;
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.sectionHeading {
  margin-top: 4rem;
}

.subHeading {
  margin-top: 1rem;
}

figure {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1em 0;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 500px;
}

pre {
  border-radius: 5px;
}
